<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script type="text/javascript">
    $(document).ready(() => {
        var connection = new signalR.HubConnectionBuilder()
            .withAutomaticReconnect()
            .withUrl("https://localhost:7146/SignalRHub").build();




        start();



        function start() { //sayfa ilk açıldığında bağlantı koparsa tekrar bağlantı sağlamak amaçlı böyle bişey yazdık

            connection.start() // Bağlantıyı başlat
                .then(function () {
                    $("#loading").hide();

                    setInterval(() => {
                        connection.invoke("SendNotification");
                    }, 1000);

                    $("#conStatus").text("Bağlantı Açık");
                })
                .catch(function (err) {
                    console.error(err.toString());
                    $("#conStatus").text("Bağlantı Hatası");
                    setTimeout(() => start(), 2000)
                });
        }


        connection.onreconnecting(err => {
            $("#loading").show();
            $("#conStatus").text("Bağlantı Bekleniyor");
            console.log("onreconnecting:" + err);
        });

        connection.onreconnected(connectionId => {
            $("#loading").hide();
            $("#conStatus").text("Bağlantı Başarılı");
            console.log("connectionId:" + connectionId);

        });

        connection.onclose(() => {
            $("#loading").hide();
            $("#conStatus").text("Bağlantı Hatası");
            Start();
        });



        connection.on("RecieveNotificationCountByStatusFalse", (count) => {
            $("#notCount").text(count);
        });


        connection.on("RecieveAllNotificationByStatusFalse", (value) => {

            $("#notilist").empty();

            value.forEach(function (item, index) {
                
                $("#notilist").append(`<a href="#">
                                           <div class="${item.type}"> <i class="${item.icon}"></i> </div>
                                           <div class="notif-content">
                                           <span class="block">
                                           ${item.description}
                                           </span>
                                           <span class="time">
                                           ${item.date}
                                           </span>
                                           </div>
                                           </a>
                                           `)
                }
            );
        });
    });
</script>

<div class="main-header">
    <div class="logo-header">
        <a href="index.html" class="logo">
            SignalR Admin
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg">
        <div class="container-fluid">

            <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                <div class="input-group">
                    <input type="text" placeholder="Aranacak Kelime ..." class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-search search-icon"></i>
                        </span>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <li class="nav-item dropdown hidden-caret">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="la la-envelope"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Gelen Mesajlar</a>
                        <a class="dropdown-item" href="#">Rezervasyonlar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">İletişim</a>
                    </div>
                </li>
                <li class="nav-item dropdown hidden-caret">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="la la-bell"></i>
                        <span class="notification" id="notCount"></span>
                    </a>
                    <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="dropdown-title">Yeni Bildirimleriniz Var</div>
                        </li>
                        <li>

                            <div class="notif-center">
                                <div id="notilist">
                                </div>
                            </div>

                        </li>
                        <li>
                            <a class="see-all" href="/Notification/Index"> <strong>Tüm Bildirimleri Gör</strong> <i class="la la-angle-right"></i> </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="~/admin/assets/img/profile.jpg" alt="user-img" width="36" class="img-circle"><span>Hizrian</span></span> </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <div class="user-box">
                                <div class="u-img"><img src="~/admin/assets/img/profile.jpg" alt="user"></div>
                                <div class="u-text">
                                    <h4>Hizrian</h4>
                                    <p class="text-muted">signalr@gmail.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">Menü Görüntüle</a>
                                </div>
                            </div>
                        </li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="ti-user"></i> Menü</a>
                        <a class="dropdown-item" href="#"></i> Ayarlar</a>
                        <a class="dropdown-item" href="#"><i class="ti-email"></i> Rezervasyonlar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="ti-settings"></i> Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout" asp-route-returnurl="/Account/Login"><i class="fa fa-power-off"></i> Çıkış Yap</a>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
        </div>
    </nav>
</div>